{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

    <div class="container-fluid pl-5">
        <div class="card">
            <h1 class="card-header">Editer profile</h1>
            <div class="card-body">
				{{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
            <div class="card-footer">
                <a class="btn btn-info" href="{{ path('profile_index') }}">Retour à la liste</a>
                <a class="btn btn-success" href="{{ path('profile_new') }}">Nouveau</a>
            </div>
        </div>
    </div>

{% endblock %}
