{% extends 'base.html.twig' %}

{% block title %}New EntiteType{% endblock %}

{% block body %}
    <h1>Create new EntiteType</h1>

    {{ include('entite_type/_form.html.twig') }}

    <a href="{{ path('entite_type_index') }}">back to list</a>
{% endblock %}
