{% extends 'base.html.twig' %}

{% block title %}New Unite{% endblock %}

{% block body %}


    <div class="container-fluid pl-5">
        <div class="card">
            <h1 class="card-header">Nouveat unité</h1>
            <div class="card-body">
				{{ include('unite/_form.html.twig') }}
            </div>
            <div class="card-footer">
                <a class="btn btn-info" href="{{ path('unite_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>

{% endblock %}
