<form method="post" action="{{ path('formule_detail_delete', {'id': formule_detail.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formule_detail.id) }}">
    <button class="btn">Delete</button>
</form>
