{% extends 'base.html.twig' %}

{% block title %}New Achat{% endblock %}

{% block body %}
    <div class="container-fluid pl-5">
        <div class="card">
            <h1 class="card-header">Nouveau</h1>
            <div class="card-body">
				{{ include('achat/_form.html.twig') }}
            </div>
            <div class="card-footer">
                <a class="btn btn-success" href="{{ path('achat_new') }}">Nouveau</a>
                <a class="btn btn-info" href="{{ path('achat_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
