{% extends 'base.html.twig' %}

{% block title %}Edit ProduitType{% endblock %}

{% block body %}
    <h1>Edit ProduitType</h1>

    {{ include('produit_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('produit_type_index') }}">back to list</a>

    {{ include('produit_type/_delete_form.html.twig') }}
{% endblock %}
