{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="container-fluid pl-5">
        <div class="card">
            <h1 class="card-header">Editer utilisateur</h1>
            <div class="card-body">
				{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
            <div class="card-footer">
                <a class="btn btn-info" href="{{ path('user_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
